
.container{
   max-width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .inner{
    width: 320px;
    opacity: 0.5;
    height: 500px;
    background-color: rgb(255, 255, 255);
    margin-top: 8.2rem;
    border-radius: 1.7rem;
        
        img{
            width: 100%;
            padding: 1.7rem 1.4rem;
            border-radius: 3rem;
        }
        .text{
           h2{
            letter-spacing: 0.07rem;
            padding: 0.3rem 3.7rem;
            font-size: 2.11rem;
           } 
           p{
            letter-spacing: 0.05rem;
    padding: 1.5rem 3.8rem;
    font-size: 1.4rem;
    font-weight: 800;
    text-align: center;
           }
        }
    }
}

@media screen and ( min-width:1440px) {
    .container{
        .inner{
            margin-top: 15.2rem;
        }
    }
}